/*

!.gitignore
!README.md
!wp-config.php

!/wp-content
/wp-content/*

!/wp-content/plugins
/wp-content/plugins/woocommerce
!/wp-content/themes
/wp-content/themes/*
!/wp-content/themes/sos-advance
!/wp-content/themes/sos-basic
